blinker
click
colorama
flask
flask_socketio
gpxpy
itsdangerous
jinja2
markupsafe
numpy
overpy
shapely
tqdm
utm
werkzeug
requests
joblib
scipy
matplotlib
python-dotenv
PyYAML
mkdocs
mkdocs-material
mkdocstrings[python]
