<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="mapdata_file" default="$(find map_data)/data/buchlovice.mapdata"
         doc="File with preprocessed OSM map data."/>
    <arg name="gpx_file" default="$(find map_data)/data/buchlovice.gpx"
         doc="File with gpx coords denoting area to be processed."/>
    <arg name="grid_topic" default="osm_grid"
         doc="Name of the topic to which the grid will be published."/>

    <node name="osm_cloud" pkg="map_data" type="osm_cloud"
          respawn="true" respawn_delay="1.0" output="screen">

        <rosparam subst_value="true">
            utm_frame: utm
            local_frame: local_utm
            utm_to_local: []
            mapdata_file: $(arg mapdata_file)
            gpx_file: $(arg gpx_file)
            save_mapdata: false
            max_path_dist: 2.5
            path_neighbor_cost: linear  # zero, linear, quadratic
            grid_res: 0.4
            grid_max: [250.0, 250.0]
            grid_min: [-250.0, -250.0]
        </rosparam>

        <remap from="grid" to="$(arg grid_topic)"/>
    </node>
</launch>
